body {
    font-family: 'Nunito', sans-serif;
  }
  
  .app {
    background-color: #FEF3E2; /* Updated background color */
    color: #606676; /* Updated text color */
    padding: 20px;
  }
  
  .team {
    border: 2px solid #BEC6A0; /* Updated border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
  }
  
  h1, h2, h3 {
    color: #606676; /* Updated header color */
  }
  
  button {
    background-color: #BEC6A0; /* Updated button background color */
    color: #FEF3E2; /* Updated button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #EE4E4E; /* Updated hover color */
  }
  