.team {
    border: 2px solid #BEC6A0; /* Updated border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #FEF3E2; /* Updated background color */
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap; /* Allows Pokémon to wrap to the next line if needed */
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .team-list li {
    display: flex;
    align-items: center;
    border: 1px solid #BEC6A0; /* Updated border color */
    padding: 10px;
    border-radius: 8px;
    background-color: #F6EEC9; /* Updated background color */
    position: relative; /* For positioning the remove button */
  }
  
  .team-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #EE4E4E; /* Button color */
    color: #FEF3E2; /* Button text color */
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #D53F6E; /* Hover color */
  }
  